    <div class="card-activity-index">

<% unless activity.players.count == activity.player_limit %>
  <%= link_to(activity_path(activity)) do %>
      <%= image_tag "#{activity.sport.name.downcase}.jpg", class: 'card-activity-image' %>
      <div class="card-activity-index-infos border-bottom">
        <div>
          <h2 class='mb-2'><%= activity.title %></h2>
          <p class='mb-1'><%= activity.location %></p>
          <p class='mb-1'><%= activity.start_time.strftime("%A, %B %-d, %H:%M") %></p>
        </div>
        <a class="card-activity-index-btn btn btn-sport" href="#"><%= activity.sport.name %></a>
      </div>

      <div class="card-activity-index-players">
        <div class="mr-8 card-activity-index-host">
        <% if activity.user.photo.attached? %>
          <%= link_to(user_path(activity.user)) do%><%=cl_image_tag(activity.user.photo.key, crop: :fill, class: "avatar-large") %><% end %>
        <% else %>
          <%= link_to(user_path(activity.user)) do%><%= image_tag "default_avatar.png", crop: :fill, class:"avatar-large" %><% end %>
        <% end %>
        </div>
        <div class="card-activity-index-player">
          <% activity.users.reject{ |us| us == activity.user }.take(3).map do |u| %>
            <% if u.photo.attached? %>
              <%= link_to(user_path(u)) do%><%= cl_image_tag(u.photo.key, crop: :fill, class: "avatar") %><% end %>
            <% else %>
              <%= link_to(user_path(u)) do%><%= image_tag "default_avatar.png", crop: :fill, class:"avatar" %><% end %>
            <% end %>
          <% end %>
          <div class='card-activity-index-ct'>
            <% if activity.players.count > 4  %>
              <span>+<%= activity.players.count - 4 %> </span>
            <% end %>
          </div>
        </div>
        <div class='card-activity-index-nd'>
          <p><em><strong><%= pluralize(activity.player_limit - activity.players.count, 'spot')%> left </strong></em></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
